.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 0 92px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    padding: 0 0 89px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 640px;
  }
}

@media screen and (max-width: 424px) {
  .lead {
    max-width: 320px;
    padding: 0 0 64px;
  }
}
