.lead__title {
  max-width: 720px;
  max-height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 100%;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 424px) {
  .lead__title {
    max-width: 288px;
  }
}
